table {
  background: #ffffffbd;
  color: #25073c;

  ::v-deep .title-col {
    width: 70%;
  }

  ::v-deep .category-col {
    width: 30%;
  }

  ::v-deep .more-col {
    width: 50px;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  ::v-deep .fade-list-enter-active {
    animation: fade-in 300ms;
  }

  ::v-deep .fade-list-leave-active {
    animation: fade-in 300ms reverse;
  }
}

.small {
  display: block;
}

.gold-font {
  color: #dedfc0;

  &:hover {
    color: #ffffff;
  }
}